{# cdn file : https://pullzone1-corydowdywebdesi.netdna-ssl.com/assets/video/sw_critical_css-broke.mp4 #}

{# =================== VIDEO ATTRIBUTES ============================================== #
    gather video attributes like
    * autolplay
    * controls
    * muted
    * loop
# ================================================================================= #}
{% macro vidAttribs( attributes ) %}
{% spaceless %}{% for attrib in attributes %} {{ attrib }} {% endfor %}{% endspaceless %}
{% endmacro vidAttribs %}


{# ==================== VIDEO SINGLE SOURCE =========================================== #
    Macro for the single source video
# ================================================================================ #}
{% macro singleVid( videoSrc, multiSrc ) %}
{% if multiSrc %}
{% else %}
    src="{{ videoSrc }}"
{% endif %}
{% endmacro singleVid %}

{# ==================== VIDEO POSTER ================================================ #
    Macro for the video poster
# ================================================================================ #}
{% macro vidPoster( poster ) %}
{% spaceless %}{% if poster %} poster="{{ poster }}"{% endif %}{% endspaceless %}
{% endmacro vidPoster %}

{# ==================== VIDEO PRELOAD ================================================ #
    gather the preload options if present and create the sting
# ================================================================================ #}
{% macro vidPreload( preload ) %}
{% spaceless %}{% if preload %}preload="{{ preload }}"{% endif %}{% endspaceless %}
{% endmacro vidPreload %}

{# ==================== VIDEO DIMENSIONS ============================================= #
    get the width and height if set
# ================================================================================ #}

{% macro vidDimensions( widthHeight ) %}
{% spaceless %}{% if widthHeight %} width="{{ widthHeight.0 }}" height="{{ widthHeight.1 }}"{% endif %}{% endspaceless %}
{% endmacro vidDimensions %}



{# ==================== VIDEO ATTRIBUTES AND SINGLE SOURCE BUILD ========================= #
    Combine the video attributes ( macro vidAttribs ), video preload ( macro vidPreload), video dimenensions
    (macro vidDimensions) and the single source video file
# ================================================================================ #}
{% macro attribBuild( attributes, preload, poster, widthHeight, videoSrc, multiSrc ) %}
    {% import _self as build %}
{{ build.vidAttribs(attributes) }} {{ build.vidPreload(preload) }} {{ build.vidPoster(poster) }} {{ build.singleVid(videoSrc, multiSrc) }} {{ build.vidDimensions(widthHeight) }}
{% endmacro %}

{# ==================== VIDEO Tracks ================================================= #
    get the video subtitles and captions
# ================================================================================ #}
{% macro vidTracks( tracks ) %}
{% if tracks %}
    {% for key, value in tracks %}
<track label="{{ value.label }}" kind="{{ value.kind }}" srclang="{{ value.srclang }}" src="{{ value.src }}" {% if value.default %} default {% endif %}>
    {% endfor %}
{% endif %}
{% endmacro vidTracks %}



{% import _self as attrib %}
{#<video {{ attrib.vidAttribs(attributes) }} {{ attrib.vidPreload(preload) }} {{ attrib.vidPoster(poster) }} {{ attrib.vidDimensions(widthHeight) }}  >#}
<video {% spaceless %} {{ attrib.attribBuild( attributes, preload, poster, widthHeight, videoSrc, multiSrc ) }}{% endspaceless %}>
{{ attrib.vidTracks(tracks) }}
</video>

<p>Multiple Source: {{ multiSrc }}</p>
