{# cdn file : https://pullzone1-corydowdywebdesi.netdna-ssl.com/assets/video/sw_critical_css-broke.mp4 #}

{# =================== VIDEO ATTRIBUTES ============================================== #
    gather video attributes like
    * autolplay
    * controls
    * muted
    * loop
# ================================================================================= #}
{% macro vidAttribs( attributes ) %}
{% spaceless %}{% for attrib in attributes %} {{ attrib }} {% endfor %}{% endspaceless %}
{% endmacro vidAttribs %}




{# ==================== VIDEO SINGLE SOURCE =========================================== #
    Macro for the single source video
# ================================================================================ #}
{% macro singleVid( singleSrc, multiSrc, fragment ) %}
    {% import _self as mf %}
{% if multiSrc %}
{% else %}
    src="{{ singleSrc }}{{ mf.mFrag(fragment) }}"
{% endif %}
{% endmacro singleVid %}



{# ==================== VIDEO MULTIPLE SOURCE ========================================= #
    Macro for multiple source videos
# ================================================================================ #}
{% macro multiVid( multiVid, multiSrc, fragment ) %}
    {% import _self as mediaFrag %}
    {% if multiSrc %}
    {% for video, type in multiVid %}
    <source src="{{ video }}{{ mediaFrag.mFrag(fragment) }}" type="video/{{ type }}" >
    {% endfor %}
    {% endif %}
{% endmacro multiVid %}



{# ==================== VIDEO POSTER ================================================ #
    Macro for the video poster
# ================================================================================ #}
{% macro vidPoster( poster ) %}
{% spaceless %}{% if poster %} poster="{{ poster }}"{% endif %}{% endspaceless %}
{% endmacro vidPoster %}



{# ==================== VIDEO PRELOAD ================================================ #
    gather the preload options if present and create the sting
# ================================================================================ #}
{% macro vidPreload( preload ) %}
{% spaceless %}{% if preload %}preload="{{ preload }}"{% endif %}{% endspaceless %}
{% endmacro vidPreload %}



{# ==================== VIDEO DIMENSIONS ============================================= #
    get the width and height if set
# ================================================================================ #}

{% macro vidDimensions( widthHeight ) %}
{% spaceless %}{% if widthHeight %} width="{{ widthHeight.0 }}" height="{{ widthHeight.1 }}"{% endif %}{% endspaceless %}
{% endmacro vidDimensions %}



{# ==================== VIDEO MEDIA FRAGMENT  ========================================= #
    get the media fragments if they are set in the config or template
# ================================================================================ #}
{% macro mFrag( fragment ) %}
{% if fragment %}
#t={% spaceless %}{% for frag in fragment %}{{ frag }}{% if not loop.last  %},{% endif %}{% endfor %}{% endspaceless %}
{% endif %}
{% endmacro mFrag %}




{# ==================== VIDEO Tracks ================================================= #
    get the video subtitles and captions
# ================================================================================ #}
{% macro vidTracks( tracks ) %}
    {% if tracks %}
        {% for key, value in tracks %}
            <track label="{{ value.label }}" kind="{{ value.kind }}" srclang="{{ value.srclang }}" src="{{ value.src }}" {% if value.default %} default {% endif %}>
        {% endfor %}
    {% endif %}
{% endmacro vidTracks %}



{# ==================== VIDEO ATTRIBUTES AND SINGLE SOURCE BUILD ========================= #
    Combine the video attributes ( macro vidAttribs ), video preload ( macro vidPreload), video dimenensions
    (macro vidDimensions) and the single source video file
# ================================================================================ #}
{% macro attribBuild( attributes, preload, poster, widthHeight, singleSrc, multiSrc, fragment ) %}
    {% import _self as build %}
{{ build.vidAttribs(attributes) }} {{ build.vidPreload(preload) }} {{ build.vidPoster(poster) }} {{ build.singleVid(singleSrc, multiSrc, fragment) }} {{ build.vidDimensions(widthHeight) }}
{% endmacro attribBuild %}




{# =================== VIDEO TAG BODY BUILDING ======================================== #
 #
 # Build the body of the video tag. Bring in tracks if they are there and source tags if there is multiple sources
 #
 # ================================================================================ #}
{% macro bodyBuild( multiVid, multiSrc, tracks, fragment  ) %}
 {% import _self as body %}
    {{ body.multiVid( multiVid, multiSrc, fragment ) }}
    {{ body.vidTracks( tracks ) }}
{% endmacro bodyBuild %}



{% import _self as attrib %}

{#  =================================================================================
 # ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
 # ==================================================================================
 #
 #          VIDEO TAG BUILDING UP IN HERE UP IN HERE
 #          YALL GONE MAKE ME BUILD A VIDEO UP IN HERE UP IN HERE
 #          YALL GONE MAKE ME GO ALL OUT UP IN HERE UP IN HERE
 #          YALL GONE MAKE ME ADD SOME TRACKS UP IN HERE UP IN HERE
 #          YALL GONE MAKE ME ADD SOME SOURCES UP IN HERE UP IN HERE
 #
 # =================================================================================#}
<video {% spaceless %} {{ attrib.attribBuild( attributes, preload, poster, widthHeight, singleSrc, multiSrc, fragment ) }}{% endspaceless %}>
{{ attrib.bodyBuild(multiVid, multiSrc, tracks, fragment) }}
</video>

<p>Media Fragment</p>
{% if fragment %}
<p>#t={% spaceless %}{% for frag in fragment %}{{ frag }}{% if not loop.last  %},{% endif %}{% endfor %}{% endspaceless %}</p>
{% endif %}